{% extends "a2_guest.html"%}
{% block m2 %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ACCOUNTANT</title>
</head>
<body>
<h1>ACCOUNTANT BLOCK</h1>
    <p><a href="/accountant_profile">MY PROFILE</a></p>
    <p><a href="/add_course">COURSES AVAILABLE</a></p>
    <p><a href="/st_data">STUDENT REGISTRATION</a></p>
    <p><a href="/student_course"> NEW STUDENT COURSE REGISTRATION</a></p>
    <p><a href="/show_students">SHOW STUDENTS</a></p>
    <p><a href="/first_fee"> FIRST FEES TRANSACTION</a></p>
    <p><a href="/logout">LOGOUT</a></p>

</body>
</html>
{% endblock %}